<footer class="bg-gray-950 text-white">
  <div
    class="m-auto max-w-[700px] py-28 px-3 h-full flex flex-col items-center justify-center"
  >
    <h3 class="text-xl text-center">
      &copy; &#64;<a target="_blank" href="https://github.com/jdelreyes"
        >jdelreyes</a
      >
      2024
    </h3>
    <p-divider />
    <p>
      Disclaimer: Movies stored and displayed in this mini project (Angular +
      Spring Boot Movie Reservation App) are for demonstration purposes only. I
      do not own these movies.
    </p>
  </div>
</footer>
