<section class="h-[80vh] pt-32">
  <div class="max-w-[500px] m-auto p-5 rounded-lg">
    <p-fieldset legend="{{ title }}">
      <form action="post" [formGroup]="formGroup" (submit)="authenticate()">
        <p-inputGroup class="w-full my-1">
          <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
          <input pInputText placeholder="Username" formControlName="username" />
        </p-inputGroup>
        <p-inputGroup class="w-full my-1">
          <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
          <p-password
            [style]="{ width: '100%' }"
            [feedback]="false"
            placeholder="Password"
            formControlName="password"
          />
        </p-inputGroup>
        @if (this.isFormSubmitted) {
        <div class="text-red-500 text-sm">
          @if (username && username.invalid) { @if
          (username.hasError('required')){
          <div>Username is required.</div>
          } } @if (password && password.invalid) { @if
          (password.hasError('required')) {
          <div>Password is required.</div>
          } @if (password.hasError('minlength')) {
          <div>Password must be at least 8 characters long.</div>
          } } @if (serverErrorMessage) {
          <div>
            {{ serverErrorMessage }}.
            <a routerLink="/register">Register here</a>.
          </div>
          }
        </div>
        }
        <div class="mt-5 flex justify-end w-full">
          <p-button label="Submit" type="submit"></p-button>
        </div>
      </form>
      <div class="text-center mt-10">
        <p>No account? <a routerLink="/register">Register here</a>.</p>
      </div>
    </p-fieldset>
  </div>
</section>
