<section>
  <div class="m-auto max-w-[1300px] px-3">
    <h1 class="text-2xl font-light">{{ title }}</h1>
    <div
      class="grid justify-items-center grid-cols-1 md:grid-cols-3 lg:grid-cols-4"
    >
      @if (this.isLoading) { @for (item of [1,2,3,4]; track $index) {
      <div class="flex flex-col my-10">
        <p-skeleton width="250px" height="350px" />
        <br />
        <p-skeleton styleClass="mt-10" width="250px" height="80px" />
      </div>
      } } @else { @for (movie of movieList; track movie.id) {
      <div class="py-5 w-[250px]">
        <p-card header="{{ movie.title }}" styleClass="bg-inherit shadow-none">
          <ng-template pTemplate="header">
            <a
              [routerLink]="
                'movie/' +
                movie.id +
                '/' +
                (movie.title | spacedash | lowercase)
              "
            >
              <p-image
                [src]="
                  movie.movieImage
                    ? 'data:' +
                      movie.movieImage.type +
                      ';base64,' +
                      movie.movieImage.data
                    : 'assets/img/placeholder.png'
                "
                class="hover:border-4 rounded-xl border-zinc-900"
                alt="{{ movie.title }} Image"
                height="350"
              />
            </a>
          </ng-template>
        </p-card>
      </div>
      } }
    </div>
    @if (!this.isLoading) {
    <p-paginator
      styleClass="m-5 shadow-lg"
      (onPageChange)="onPageChange($any($event))"
      [first]="this.first"
      [rows]="this.size"
      [totalRecords]="6"
      [rowsPerPageOptions]="[3, 4, 6]"
    />}
  </div>
</section>
