<section>
  <div class="m-auto max-w-[1300px] px-3">
    <h1 class="text-2xl font-light">{{ title }}</h1>
    <div
      class="grid justify-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      @for (movie of movieList; track movie.id) {
      <div class="py-5 w-[330px]">
        <p-card header="{{ movie.title }}" styleClass="bg-inherit shadow-none">
          <ng-template pTemplate="header">
            <a [routerLink]="'movie/' + movie.id + '/' + movie.title">
              @if (movie.movieImage){
              <p-image
                [src]="
                  'data:' +
                  movie.movieImage.type +
                  ';base64,' +
                  movie.movieImage.data
                "
                class="hover:border-4 rounded-xl border-zinc-900"
                alt="{{ movie.title }} Image"
                height="475"
              />} @else {
              <img
                src="/assets/img/placeholder.png"
                alt="{{ movie.title }} Image"
                class="hover:border-4 rounded-xl border-zinc-900"
                width="310"
                height="475"
              />}
            </a>
          </ng-template>
        </p-card>
      </div>
      }
    </div>
  </div>
</section>
