<section class="h-[80vh] pt-32">
  <div class="max-w-[500px] m-auto p-5 rounded-lg">
    <p-fieldset legend="{{ title }}">
      <form action="post" [formGroup]="formGroup" (submit)="authenticate()">
        <p-inputGroup class="w-full my-1">
          <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
          <input pInputText placeholder="Username" formControlName="username" />
        </p-inputGroup>
        <p-inputGroup class="w-full my-1">
          <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
          <p-password
            [style]="{ width: '100%' }"
            [feedback]="false"
            placeholder="Password"
            formControlName="password"
          />
        </p-inputGroup>
        @if (this.formGroup.invalid) {
        <div class="alert alert-danger">
          @if (this.formGroup.hasError('required')) {
          <div>Name is required.</div>
          } @else if (this.formGroup.hasError('minLength')) {
          <div>Name must be at least 4 characters long.</div>
          }
        </div>
        }
        <div>
          <p>No account? <a routerLink="/register">Register here</a>.</p>
        </div>
        <div class="mt-5 flex justify-end w-full">
          <p-button label="Submit" type="submit"></p-button>
        </div>
      </form>
    </p-fieldset>
  </div>
</section>
