<nav class="bg-gray-900 sticky top-0 px-3 shadow-md">
  <div class="flex justify-between items-center m-auto max-w-[1300px]">
    <header>
      <a href="/"><img src="/assets/img/logo.png" alt="Logo" width="80" /></a>
    </header>
    <ul class="flex flex-row list-none items-center p-0">
      @if (isLoggedIn()) {
      <li>
        <p-splitButton
          label="{{ username }}"
          (onClick)="navigateToProfile()"
          [model]="items"
        >
          <ng-template pTemplate="content">
            <span
              class="flex align-items-center font-bold items-center justify-center"
            >
              <span class="pi pi-user"></span>
              <span class="w-2"></span>
              <span>{{ username }}</span>
            </span>
          </ng-template>
        </p-splitButton>
      </li>
      } @else {
      <li>
        <a routerLink="/login"><p-button label="Sign In" [link]="true" /></a>
      </li>
      <li>
        <a routerLink="/register"><p-button label="Register" /></a>
      </li>
      }
    </ul>
  </div>
</nav>
