<section>
  <div class="max-w-[1300px] m-auto flex flex-col md:flex-row gap-4">
    <div class="basis-1/3 p-2">
      <div class="my-10">
        <form>
          <input
            id="search"
            pInputText
            placeholder="Search Movie Title"
            type="text"
            [formControl]="searchControl"
            class="w-full"
            [autofocus]="true"
          />
        </form>
      </div>
    </div>
    <div
      class="basis-2/3 grid justify-items-center grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 w-full"
    >
      @for (movie of movies; track movie.id) {
      <div class="py-5 w-[250px]">
        <p-card header="{{ movie.title }}" styleClass="bg-inherit shadow-none">
          <ng-template pTemplate="header">
            <p-button
              [plain]="true"
              (onClick)="changeMovieQueryParam(movie.id); chooseMovie()"
              styleClass="p-0 bg-inherit border-0"
            >
              @if (movie.movieImage){
              <p-image
                [src]="
                  'data:' +
                  movie.movieImage.type +
                  ';base64,' +
                  movie.movieImage.data
                "
                class="hover:border-4 rounded-xl border-zinc-900"
                alt="{{ movie.title }} Image"
                height="350"
              />} @else {
              <img
                src="/assets/img/placeholder.png"
                alt="{{ movie.title }} Image"
                class="hover:border-4 rounded-xl border-zinc-900"
                height="350"
              />}
            </p-button>
          </ng-template>
        </p-card>
      </div>
      }
    </div>
  </div>
</section>
